@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}
    

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 0 auto;
	width: 400px;
    padding: 20px;
}

<!--表格部分--
tbody tr:nth-child(even) {
    background:#d0cace;
}

thead th {
    color: #fff;
    background: #030000;
}

tbody tr:nth-child(-n+3) td {
    color: #f00;
}

<!--输入框部分-->
.s{
    margin: 2em 0;
    width: 100px;    
    border-color,width 1s ease-out 0.1s;
}

.s:focus {
    width: 300px;
    border-color: steelblue;
    border-style: solid;
    box-shadow: 0 0 2px 0 steelblue;
}

.input{
	width:400px;
	height:100px;
}

.input input{
	margin-top:20px;
}

.img {
    position: relative;
    width: 400px;
    height: 225px;
    overflow: hidden;
}

ol {
    margin: 0;
    padding: 0;        
    list-style: none;
}

img {
    display: block;
}

@keyframes scroll {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel li {
    position: absolute;
    width: 100%;
    height: 100%;
}

#img2 {
    background: linear-gradient(-45deg, lightblue, steelblue);    
}

#img1 img{
	width: 400px;
    height: 225px;
}

.tablet {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    list-style: none;
}

a {
    display: block;
    color: #fff;
}

.tablet li {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

.carousel li:target {
    animation: scroll 1s ease-in-out;
    z-index: 1;
}